/* ================================================================
   Variables
   ================================================================ */

// Color Variables
$body-bg: #fff;
$color-base: #000;
$color-invert: #fff;
$color-primary: #225894;
$color-secondary: #25afd2;


// Typography
$font-primary: Arial, sans-serif;
$font-secondary: Tahoma, Geneva, sans-serif;
$font-heading: $font-secondary;

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;

$typography-margin-bottom: 1em;

// Transitions
$trans-duration: 0.18s;
$trans-ease: ease-in-out;
$trans: all $trans-duration $trans-ease;

// Grid size
$site-container: 1430px;

// Grid Breakpoints
$bp-s: 576px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;

// Grid container sizes
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: $site-container;

// Grid gutter
$grid-gutter: 15px;
